/* 공통영역시작 */
h1,h2,h3,p,div {cursor:default}
.hidden {position:absolute; width:1px; height:1px; font-size:0px; line-height:0px}
.page_title {position:relative; left:0; top:0; font:bold 72px "Noto Sans KR"}
.page_title span {z-index:10; background:white}
.page_title::after {content:""; position:absolute; right:0; top:50%; width:80%; height:3px; background:#007BFF}

/* 스킵메뉴시작 */
#skip_menu li a {position:absolute; width:1px; height:1px; font-size:0px; line-height:0px}
#skip_menu li a:focus {z-index:100; width:100%; height:30px; font:normal 14px/30px "Noto Sans KR"; text-align:center; text-decoration:none; color:white; background:#000}

/* 헤더영역시작 */
#header {z-index:10; position:fixed; left:0; top:0; width:60px; min-height:480px; border-right:solid 1px #eee; background:#fff}
#logo {position:absolute; left:0; top:10px; width:40px; height:44px; padding:8px 10px}
#logo a {display:block; width:100%; height:100%}
#logo a img {width:100%}
.mainmenu {position:absolute; left:0; top:45%; width:60px; height:280px; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%)}
.mainmenu_list {width:100%; height:100%}
.mainmenu_list li {float:left; width:100%; height:60px; margin-bottom:10px}
.mainmenu_list li:last-child {margin-bottom:0}
.mainmenu_list li.selected a {color:#007BFF}
.mainmenu_list li a {display:block; width:100%; height:100%; font-size:24px; line-height:60px; text-align:center; text-decoration:none; color:#777; -webkit-transition:0.2s ease; -o-transition:0.2s ease; transition:0.2s ease}
.mainmenu_list li a i {margin:18px auto}
.mainmenu_list li a span {display:none; margin:18px auto; font:bold 12px/60px "Roboto"; color:#007BFF}
.mainmenu_list li a:hover {background:#eee}
.mainmenu_list li a:hover i {display:none; color:#007BFF}
.mainmenu_list li a:hover span {display:inline}
.github_btn {position:absolute; left:0; bottom:10px; width:60px; height:60px}
.github_btn a {display:block; width:100%; height:100%; font-size:32px; line-height:60px; text-align:center; color:#777}
.github_btn a i {-webkit-transition:0.2s ease;-o-transition:0.2s ease;transition:0.2s ease}
.github_btn a:hover i {color:#000}
.active_icon {color:#007BFF}

/* 비주얼영역시작 */
#visual {float:left; position:relative; left:0; top:0; width:100%; height:940px; margin-bottom:80px}
#visual img {width:100%}
.visual_band {position:absolute; right:0; top:50px; width:180px; height:50px; font:normal 18px/21px "Roboto"; -webkit-transform:rotate(-90deg); -ms-transform:rotate(-90deg); transform:rotate(-90deg)}
.visual_band::after {content:""; position:absolute; left:0; bottom:0; width:100%; height:5px; background:#007BFF}
.visual_text {position:absolute; right:10%; top:35%; width:644px; height:252px; font:bold 72px/84px "Roboto"; color:#007BFF}
.fc_black {color:black}
.fs_64 {font:normal 64px "Roboto"; color:black}

/* 컨텐츠영역시작 */
#contents {float:left; width:100%; height:2000px; padding-left:60px; box-sizing:border-box}

/* About */
#about {width:100%; height:940px; padding:0 30px; box-sizing:border-box}
.declare {margin-top:100px; font:bold 24px "Roboto"}
.declare span {color:#C52828}
.obj_list {width:1100px; height:550px; margin:0 auto}
.obj_list li {float:left; width:100%; margin:30px 0 10px 0}
.obj_list li:nth-child(1) {height:200px}
.obj_list li:nth-child(2) {height:50px}
.obj_list li:nth-child(3) {height:25px}
.obj_list li:nth-child(4) {height:100px}
.obj_title {float:left; width:150px; min-height:25px; font:normal 24px "Roboto"}
.obj_title:nth-child(1) {height:200px}
.obj_title:nth-child(2) {height:50px}
.obj_title:nth-child(3) {height:25px}
.obj_title:nth-child(4) {height:100px}
.obj_text {width:100%; height:200px; font:normal 16px/24px "Noto Sans KR"}
.declare_close {float:left; width:100%; font:bold 24px "Roboto"; text-indent:230px}

/* Skill */
#skill {width:100%; height:1281px; margin-bottom:80px; padding:0 30px; box-sizing:border-box}
.dev_lang {float:left; width:48%; margin:80px 0 0 20px}
.dev_lang_list>li{margin-top:60px}
.skill_title {font:bold 24px "Noto Sans KR"; color:#999}
.dev_lang_title {width:100%; height:30px; margin-bottom:15px; font:500 24px "Roboto"}
.dev_lang_title img {width:30px; height:30px}
.dev_lang_text {font:normal 16px "Noto Sans KR"}
.dev_text_list {width:100%; margin-left:20px; list-style:disc}
.dev_text_list li{font:normal 16px "Noto Sans KR"}

/* Work */
#work {width:100%; height:940px}
.padding_inner {padding:0 30px; box-sizing:border-box}
.work_list {width:100%; height:500px; margin:80px 0}
.work_list li {float:left; position:relative; left:0; top:0; width:25%; height:100%}
.work_list li::after {content:""; position:absolute; left:0; top:0;  width:100%; height:100%; background:rgba(0,0,0,.2)}
.work_list li:hover::after {display:none}
.work_list li img {width:100%}
.work_list li.selected {border:solid 2px #007BFF; -webkit-box-sizing:border-box; box-sizing:border-box}
.work_list li.selected::after {display:none}
.active_work {width:100%; margin-top:80px}

/* Work_project */
.work_project {width:100%}
.work_img {float:left; width:50%; height:500px}
.work_img img {width:100%}

.work_desc {float:left; width:50%; height:500px; padding-left:30px; box-sizing:border-box}
.work_title {padding-bottom:30px; font:bold 48px "Noto Sans KR"; box-sizing:border-box}
.work_heading {padding-bottom:30px; font:bold 16px "Noto Sans KR"; box-sizing:border-box}
.work_text {padding-bottom:30px; font:normal 16px "Noto Sans KR"; box-sizing:border-box}
.work_btn {width:100%; height:40px}
.view_btn {float:left; width:150px; height:40px; margin-right:10px; border:solid 3px #007BFF}
.view_btn a {display:block; width:100%; height:100%; font:bold 24px/40px "Roboto"; text-align:center; text-decoration:none; color:black}
.fw_400 {font-weight:400}
.fs_18 {font-size:18px}
.arrow_area {float:left; width:100%; height:56px; margin:120px 0 20px 0}
.arrow_bottom {width:50px; height:56px; margin:0 auto; background:url(../images/arrow_bottom.png)no-repeat}

.dodripy_desc {float:left; width:100%; height:4800px; padding-top:80px; background:#E6F5FE}

.planning {float:left; width:100%}
.view_title {position:relative; left:0; top:0; font:bold 48px "Noto Sans KR"}
.view_title::after {content:""; position:absolute; right:0; top:50%; width:90%; height:3px; background:#ccc}
.view_subtitle {margin-bottom:30px; font:bold 24px "Noto Sans KR"}
.proposal_list {width:100%; height:282px; margin-bottom:80px}
.proposal_list li {float:left; width:30%; height:100%; margin-right:3.33%}
.proposal_list li:last-child {margin-right:0}
.proposal_list li img {width:100%}
.wireframe_img img{width:100%; margin-bottom:100px}

.design {float:left; width:100%}
.draft_list {width:100%; height:866px}
.draft_list li {float:left; width:30%; margin-right:3.33%}
.draft_list li img {width:100%}
.draft_list li:last-child {margin-right:0}

.coding {float:left; width:100%}
.coding_left,
.coding_right {float:left; width:49%; margin-right:2%}
.coding_right {margin-right:0}
.coding_left img,
.coding_right img {width:100%}
.view_subtitle {margin-top:80px}
